! ==== URxvt Configuration ====
!! Apprecances
URxvt.font:                       xft:RobotoMono Nerd Font:size=8:autohint=true,xft:Noto Color Emoji:pixelsize=12:antialias=true
URxvt.geometry:                   78x26
URxvt.internalBorder:             0
URxvt.cursorBlink:                true
URxvt.cursorUnderline:            true
URxvt.saveLines:                  2100
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            true
URxvt.scrollBar_floating:         false
URxvt.scrollstyle:                plain
URxvt.scrollWithBuffer:           false
URxvt.urgentOnBell:               false
URxvt.depth:                      32
URxvt.iso14755:                   false
! URxvt.iconFile:                   <path_icond_terminal>
URxvt.letterSpace: -1

!! URxvt Extensions
! Extention
URxvt.perl-lib:                   ~/.urxvt/ext
URxvt.perl-ext-common:            default,tabbedex,url-select

! Copy & Paste
URxvt.keysym.Control-Shift-C:     eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V:     eval:paste_clipboard
URxvt.keysym.Control-Up:          eval:scroll_up 1
URxvt.keysym.Control-Down:        eval:scroll_down 1
URxvt.keysym.Control-Home:        eval:scroll_to_top
URxvt.keysym.Control-End:         eval:scroll_to_bottom

! Tabbedex
URxvt.tabbedex.no-tabbedex-keys:  yes
URxvt.tabbedex.new-button:        false
URXvt.tabbedex.reopen-on-close:   yes
URxvt.tabbedex.autohide:          yes
URxvt.tabbedex.tabbar-fg:         5
URxvt.tabbedex.tabbar-bg:         0
URxvt.tabbedex.tab-fg:            10
URxvt.tabbedex.tab-bg:            0
URxvt.tabbedex.bell-fg:           0
URxvt.tabbedex.bell-bg:           0
URxvt.tabbedex.bell-tab-fg:       0
URxvt.tabbedex.bell-tab-bg:       0
URxvt.tabbedex.title-fg:          14
URxvt.tabbedex.title-bg:          0
URxvt.keysym.Control-Shift-T:     tabbedex:new_tab
URxvt.keysym.Control-Shift-R:     tabbedex:rename_tab
URxvt.keysym.Control-Shift-Q:     tabbedex:kill_tab
URxvt.keysym.Control-next:        tabbedex:next_tab
URxvt.keysym.Control-prev:        tabbedex:prev_tab
URxvt.keysym.Control-Shift-Next:  tabbedex:move_tab_right
URxvt.keysym.Control-Shift-Prior: tabbedex:move_tab_left

! Resize Font
URxvt.resize-font.step: 1
URxvt.keysym.Control-minus:       resize-font:smaller
URxvt.keysym.Control-plus:        resize-font:bigger
URxvt.keysym.Control-equal:       resize-font:reset
URxvt.keysym.Control-question:    resize-font:show

! URL Select
URxvt.keysym.Control-Shift-Z:     url-select:select_next
URvxt.url-select.button:          1
URxvt.url-select.launcher:        brave-bin
URxvt.url-select.underline:       true

!! Color Schemes
! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

! ==== Rofi ====
rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       termite
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          12
rofi.columns:                        1
rofi.font:                           RobotoMono Nerd Font 10
rofi.fg:                             #5294E2
rofi.bg:                             #5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #353944,      #404552
rofi.bw:                             4
rofi.location:                       0
rofi.padding:                        30
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    3
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                10
